$base-width: 1.25em;

/**
 * la-layers
 * - supports up, down, left, right
 */

.la-layers {
	position: relative;
	display: inline-block;
	width: $base-width;
	height: $base-width;
	line-height: $base-width;
	text-align: center;
	vertical-align: middle;

	&.la-fw > * {
		width: 100%;
		height: 100%;
	}

	& > .la,
	& > .la-layers-text,
	& > .lab,
	& > .lad,
	& > .lal,
	& > .lar,
	& > .las {
		position: absolute;
		left: 0;
		width: 100%;
		line-height: inherit;
		text-align: center;
	}
	/*
	 * SHIFTING
	 */
	@for $i from 1 through 8 {
		& [data-la-transform*='up-#{$i}'] {
			top: -($i / 8 * 50%);
		}
	}
	@for $i from 1 through 8 {
		& [data-la-transform*='down-#{$i}'] {
			top: ($i / 8 * 50%);
		}
	}
	@for $i from 1 through 8 {
		& [data-la-transform*='right-#{$i}'] {
			left: ($i / 8 * 50%);
		}
	}
	@for $i from 1 through 8 {
		& [data-la-transform*='left-#{$i}'] {
			left: -($i / 8 * 50%);
		}
	}
}

.la,
.la-layers-text,
.lab,
.lad,
.lal,
.lar,
.las {
	/*
	 * ROTATE
	 */
	@for $i from 1 through 71 {
		&[data-la-transform*='rotate-#{$i * 5}'],
		&[data-la-transform*='rotate-#{$i * 5 - 360}'] {
			transform: rotate(5deg * $i);
		}
	}
	/*
	 * FLIP
	 */
	&[data-la-transform*='flip-h'] {
		transform: scale(-1, 1);
	}

	&[data-la-transform*='flip-v'] {
		transform: scale(1, -1);
	}

	&[data-la-transform*='flip-h'][data-la-transform*='flip-v'] {
		transform: scale(-1, -1);
	}
	/*
	 * SHRINK
	 */
	@for $i from 1 through 16 {
		&[data-la-transform*='shrink-#{$i}'] {
			font-size: 1em - $i / 16;
		}
	}
	/*
	 * GROW
	 */
	@for $i from 1 through 16 {
		&[data-la-transform*='grow-#{$i}'] {
			font-size: 1em + $i / 16;
		}
	}
}